In [1]:
#import findspark
import findspark
findspark.init()

In [2]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark import SparkConf

#from pyspark.ml.feature import Tokenizer, HashingTF, IDF 
#from pyspark.ml.classification import LogisticRegression
#from pyspark.ml import Pipeline
from pyspark.sql.functions import col


from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import HashingTF, Tokenizer, StopWordsRemover
from pyspark.sql.functions import split,explode

In [3]:
conf = SparkConf().setMaster("local[*]").set("spark.executer.memory", "3g")

In [4]:
sc = SparkContext(conf = conf)
spark = SparkSession(sc)
spark = SparkSession(sc).builder.getOrCreate()
spark.sparkContext.setLogLevel("ERROR")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/28 02:47:22 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/11/28 02:47:23 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/11/28 02:47:23 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/11/28 02:47:23 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/11/28 02:47:23 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/11/28 02:47:23 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
22/11/28 02:47:23 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
22/11/28 02:47:23 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.

In [6]:
#1. Clean the dataset

yelp_rev = spark.read.format("csv").option("quote", "\"").option("escape", "\"").option('multiLine', True).option("encoding", "ISO-8859-1").option("header", "true").load("yelp_review.csv")
yelp_rev = yelp_rev.withColumnRenamed("business_id","business_id_rev")
yelp_rev = yelp_rev.withColumnRenamed("stars","stars_rev")
yelp_rev.printSchema()
#yelp_rev.show()

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id_rev: string (nullable = true)
 |-- stars_rev: string (nullable = true)
 |-- date: string (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: string (nullable = true)
 |-- funny: string (nullable = true)
 |-- cool: string (nullable = true)

+--------------------+--------------------+--------------------+---------+----------+--------------------+------+-----+----+
|           review_id|             user_id|     business_id_rev|stars_rev|      date|                text|useful|funny|cool|
+--------------------+--------------------+--------------------+---------+----------+--------------------+------+-----+----+
|vkVSCC7xljjrAI4UG...|bv2nCi5Qv5vroFiqK...|AEx2SYEUJmTxVVB18...|        5|2016-05-28|Super simple plac...|     0|    0|   0|
|n6QzIUObkYshz4dz2...|bv2nCi5Qv5vroFiqK...|VR6GpWIda3SfvPC-l...|        5|2016-05-28|Small unassuming ...|     0|    0|   0|
|MV3CcKScW05u5LVfF...|bv2nCi5Qv5vroFiqK...|CKC0-MOWMqoeWf6s-...|        5|2016-05-28|Lester's is locat...|     0|    0|   0|
|IXvOzsEMYtiJI0CAR...|bv2nCi5Qv5vroFiqK...|ACFtxLv8pGrrxMm6E...|        4|2016-05-28|Love coming here....|     0|    0|   0|
|L_9BTb55X0GDtThi6...|bv2nCi5Qv5vroFiqK...|s2I_Ni76bjJNK9yG6...|        4|2016-05-28|Had their chocola...|     0|    0|   0|
|HRPm3vEZ_F-33TYVT...|_4iMDXbXZ1p1ONG29...|8QWPlVQ6D-OExqXoa...|        5|2014-09-24|Cycle Pub Las Veg...|     1|    0|   0|
|ymAUG8DZfQcFTBSOi...|u0LXt3Uea_GidxRW1...|9_CGhHMz8698M9-Pk...|        4|2012-05-11|Who would have gu...|     0|    0|   2|
|8UIishPUD92hXtScS...|u0LXt3Uea_GidxRW1...|gkCorLgPyQLsptTHa...|        4|2015-10-27|Always drove past...|     1|    0|   0|
|w41ZS9shepfO3uEyh...|u0LXt3Uea_GidxRW1...|5r6-G9C4YLbC7Ziz5...|        3|2013-02-09|Not bad!! Love th...|     1|    0|   0|
|WF_QTN3p-thD74hqp...|u0LXt3Uea_GidxRW1...|fDF_o2JPU8BR1Gya-...|        5|2016-04-06|Love this place!\...|     3|    0|   0|
|PIsUSmvaUWB00qv5K...|u0LXt3Uea_GidxRW1...|z8oIoCT1cXz7gZP5G...|        4|2013-05-01|This is currently...|     1|    0|   0|
|PdZ_uFjbbkjtm3SCY...|u0LXt3Uea_GidxRW1...|XWTPNfskXoUL-Lf32...|        3|2011-09-28|Server was a litt...|     5|    0|   1|
|x5oV6wm9_Pb1QQ6jk...|u0LXt3Uea_GidxRW1...|13nKUHH-uEUXVZylg...|        1|2011-02-16|I thought Tidy's ...|     9|    0|   1|
|lsoSqIrrDbQvWpMvs...|u0LXt3Uea_GidxRW1...|RtUvSWO_UZ8V3Wpj0...|        3|2012-12-03|Wanted to check o...|     2|    1|   1|
|23eqwlZzCWZkADWfd...|u0LXt3Uea_GidxRW1...|Aov96CM4FZAXeZvKt...|        5|2010-07-16|This place is awe...|     2|    0|   1|
|FunI9om-aK5oMIIJm...|u0LXt3Uea_GidxRW1...|0W4lkclzZThpx3V65...|        4|2011-09-28|a must stop when ...|     0|    0|   0|
|FKu4iU62EmWT6GZXP...|u0LXt3Uea_GidxRW1...|fdnNZMk1NP7ZhL-YM...|        1|2012-10-23|I too have been t...|     0|    0|   0|
|xdu8nXrbNKeaywCX7...|u0LXt3Uea_GidxRW1...|PFPUMF38-lraKzLcT...|        3|2010-09-15|Came here with my...|     2|    0|   0|
|K7o5jDInfmX3cY5oH...|u0LXt3Uea_GidxRW1...|oWTn2IzrprsRkPfUL...|        3|2012-09-23|Came here for a b...|     4|    0|   0|
|WYDFJOBOl7cycd7gN...|u0LXt3Uea_GidxRW1...|zgQHtqX0gqMw1nlBZ...|        1|2012-10-30|really excited to...|     9|    2|   1|
+--------------------+--------------------+--------------------+---------+----------+--------------------+------+-----+----+
only showing top 20 rows

In [8]:
yelp_biz = spark.read.format("csv").option("quote", "\"").option("escape", "\"").option('multiLine', True).option("encoding", "ISO-8859-1").option("header", "true").load("yelp_business.csv")
yelp_biz = yelp_biz.withColumnRenamed("business_id","business_id_biz")
yelp_biz = yelp_biz.withColumnRenamed("stars","stars_biz")
yelp_biz.printSchema()
#yelp_biz.show()

root
 |-- business_id_biz: string (nullable = true)
 |-- name: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- stars_biz: string (nullable = true)
 |-- review_count: string (nullable = true)
 |-- is_open: string (nullable = true)
 |-- categories: string (nullable = true)

+--------------------+--------------------+------------------+--------------------+--------------+-----+-----------+-------------+--------------+---------+------------+-------+--------------------+
|     business_id_biz|                name|      neighborhood|             address|          city|state|postal_code|     latitude|     longitude|stars_biz|review_count|is_open|          categories|
+--------------------+--------------------+------------------+--------------------+--------------+-----+-----------+-------------+--------------+---------+------------+-------+--------------------+
|FYWN1wneV18bWNgQj...|  "Dental by Design"|              null|"4855 E Warner Rd...|     Ahwatukee|   AZ|      85044|   33.3306902|  -111.9785992|      4.0|          22|      1|Dentists;General ...|
|He-G7vWjzVUysIKrf...|"Stephen Szabo Sa...|              null|"3101 Washington Rd"|      McMurray|   PA|      15317|   40.2916853|   -80.1048999|      3.0|          11|      1|Hair Stylists;Hai...|
|KQPW8lFf1y5BT2Mxi...|"Western Motor Ve...|              null|"6025 N 27th Ave,...|       Phoenix|   AZ|      85017|   33.5249025|  -112.1153098|      1.5|          18|      1|Departments of Mo...|
|8DShNS-LuFqpEWIp0...|  "Sports Authority"|              null|"5000 Arizona Mil...|         Tempe|   AZ|      85282|   33.3831468|  -111.9647254|      3.0|           9|      0|Sporting Goods;Sh...|
|PfOCPjBrlQAnz__NX...|"Brick House Tave...|              null|      "581 Howe Ave"|Cuyahoga Falls|   OH|      44221|   41.1195346|   -81.4756898|      3.5|         116|      1|American (New);Ni...|
|o9eMRCWt5PkpLDE0g...|           "Messina"|              null|    "Richterstr. 11"|     Stuttgart|   BW|      70567|      48.7272|       9.14795|      4.0|           5|      1| Italian;Restaurants|
|kCoE3jvEtg6UVz5SO...|        "BDJ Realty"|         Summerlin|"2620 Regatta Dr,...|     Las Vegas|   NV|      89128|     36.20743|    -115.26846|      4.0|           5|      1|Real Estate Servi...|
|OD2hnuuTJI9uotcKy...|       "Soccer Zone"|              null|"7240 W Lake Mead...|     Las Vegas|   NV|      89128|   36.1974844|  -115.2496601|      1.5|           9|      1|Shopping;Sporting...|
|EsMcGiZaQuG1OOvL9...|  "Any Given Sundae"|              null|"2612 Brandt Scho...|       Wexford|   PA|      15090|40.6151022445|-80.0913487465|      5.0|          15|      1|Coffee & Tea;Ice ...|
|TGWhGNusxyMaA4kQV...|"Detailing Gone M...|              null|                  ""|     Henderson|   NV|      89014|36.0558252127| -115.04635039|      5.0|           7|      1|Automotive;Auto D...|
|XOSRcvtaKc_Q5H1SA...| "East Coast Coffee"|              null|  "737 West Pike St"|       Houston|   PA|      15342|40.2415480142|-80.2128151059|      4.5|           3|      0|Breakfast & Brunc...|
|Y0eMNa5C-YU1RQOZf...|"CubeSmart Self S...|              null|"2414 South Gilbe...|      Chandler|   AZ|      85286|   33.2717201|  -111.7912569|      5.0|          23|      1|Local Services;Se...|
|xcgFnd-MwkZeO5G2H...|"T & T Bakery and...|   Markham Village|  "35 Main Street N"|       Markham|   ON|    L3P 1X3|   43.8751774|   -79.2601532|      4.0|          38|      1|Bakeries;Bagels;Food|
|NmZtoE3v8RdSJEczY...|"Complete Dental ...|              null|  "107 Whitaker Str"|     Homestead|   PA|      15120|   40.4014882|   -79.8879161|      2.0|           5|      1|General Dentistry...|
|fNMVV_ZX7CJSDWQGd...|"Showmars Governm...|            Uptown|      "600 E 4th St"|     Charlotte|   NC|      28202|   35.2216474|   -80.8393449|      3.5|           7|      1|Restaurants;Ameri...|
|l09JfMeQ6ynYs5MCJ...|    "Alize Catering"|Yonge and Eglinton|     "2459 Yonge St"|       Toronto|   ON|    M4P 2H6|   43.7113993|   -79.3993388|      3.0|          12|      0|Italian;French;Re...|
|IQSlT5jGE6CCDhSG0...|    "T & Y Nail Spa"|              null|"8411 W Thunderbi...|        Peoria|   AZ|      85381|   33.6086538|  -112.2400118|      3.0|          20|      1|Beauty & Spas;Nai...|
|b2I2DXtZVnpUMCXp1...|"Meineke Car Care...|              null|  "2518 Ironwood Dr"|   Sun Prairie|   WI|      53590|     43.18508|    -89.262047|      3.5|           9|      1|Tires;Oil Change ...|
|0FMKDOU8TJT1x87OK...|"Senior's Barber ...|              null|  "13375 W McDowell"|      Goodyear|   AZ|      85395|    33.463629|   -112.347038|      5.0|          65|      1|Barbers;Beauty & ...|
|Gu-xs3NIQTj3Mj2xY...|"Maxim Bakery & R...|              null|"9665 Bayview Ave...| Richmond Hill|   ON|    L4C 9V4|   43.8675648|   -79.4126618|      3.5|          34|      1|French;Food;Baker...|
+--------------------+--------------------+------------------+--------------------+--------------+-----+-----------+-------------+--------------+---------+------------+-------+--------------------+
only showing top 20 rows

In [9]:
biz_rev = yelp_rev.join(yelp_biz,yelp_biz.business_id_biz ==  yelp_rev.business_id_rev,"inner")#.show(truncate=False)
biz_rev.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id_rev: string (nullable = true)
 |-- stars_rev: string (nullable = true)
 |-- date: string (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: string (nullable = true)
 |-- funny: string (nullable = true)
 |-- cool: string (nullable = true)
 |-- business_id_biz: string (nullable = true)
 |-- name: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- stars_biz: string (nullable = true)
 |-- review_count: string (nullable = true)
 |-- is_open: string (nullable = true)
 |-- categories: string (nullable = true)

In [11]:
biz_rev.createOrReplaceTempView("final_df")
fin = spark.sql("select * from final_df where upper(name) like '%RESTAURANT%'")
fin = fin.select("review_id","user_id","business_id_rev","stars_rev","text","useful","funny","cool","categories","state","city","categories")
fin1 =  fin.withColumn("stars_rev_double", fin["stars_rev"].cast("double"))
fin1.show()
print("************************\n")

+--------------------+--------------------+--------------------+---------+--------------------+------+-----+----+--------------------+-----+---------+--------------------+----------------+
|           review_id|             user_id|     business_id_rev|stars_rev|                text|useful|funny|cool|          categories|state|     city|          categories|stars_rev_double|
+--------------------+--------------------+--------------------+---------+--------------------+------+-----+----+--------------------+-----+---------+--------------------+----------------+
|PIsUSmvaUWB00qv5K...|u0LXt3Uea_GidxRW1...|z8oIoCT1cXz7gZP5G...|        4|This is currently...|     1|    0|   0|Dim Sum;Restauran...|   ON|  Toronto|Dim Sum;Restauran...|             4.0|
|23eqwlZzCWZkADWfd...|u0LXt3Uea_GidxRW1...|Aov96CM4FZAXeZvKt...|        5|This place is awe...|     2|    0|   1|Imported Food;Foo...|   ON|  Toronto|Imported Food;Foo...|             5.0|
|Tv-_7d1sa-6cPTZ20...|u0LXt3Uea_GidxRW1...|7Uti5EeAwm3drG14K...|        2|Atmosphere for th...|     8|    0|   0| Restaurants;Italian|   ON|  Toronto| Restaurants;Italian|             2.0|
|zo84NPvoDgm1W9poS...|u0LXt3Uea_GidxRW1...|3vs6rARRBm-O99y4b...|        4|Great Japanese re...|     2|    0|   0|Restaurants;Japanese|   ON|  Toronto|Restaurants;Japanese|             4.0|
|jREsaout3cuhKbROV...|u0LXt3Uea_GidxRW1...|I44P6Pfoey2pArOhh...|        4|Cute little hole ...|     0|    0|   0|Restaurants;Japanese|   ON|  Toronto|Restaurants;Japanese|             4.0|
|QYw2OurOBplkQRCpY...|nOTl4aPC4tKHK35T3...|XCxxPZ3Lu5mwmIo7I...|        4|This place is alw...|     0|    0|   0|Restaurants;Korea...|   ON|  Markham|Restaurants;Korea...|             4.0|
|3YpTbDtxrFy4agErr...|tL2pS5UOmN6aAOi3Z...|i8hkzA5eiUXgbPjN8...|        4|Recently had dinn...|     0|    0|   1| Mexican;Restaurants|   NV|Henderson| Mexican;Restaurants|             4.0|
|zfHtu9CnaOwa2FqM0...|tL2pS5UOmN6aAOi3Z...|94BEy7wGKmrOC7sjS...|        4|When I'm looking ...|     3|    3|   1|Arts & Entertainm...|   NV|Las Vegas|Arts & Entertainm...|             4.0|
|drJ1crfdfmuuie6vx...|tL2pS5UOmN6aAOi3Z...|XXW_OFaYQkkGOGniu...|        5|I've been here a ...|     0|    0|   0|Bars;American (Tr...|   NV|Las Vegas|Bars;American (Tr...|             5.0|
|Hyap_YKDQpCQLCINR...|tL2pS5UOmN6aAOi3Z...|bbHE-NRab0v-iz5FH...|        4|I've eaten here m...|     3|    0|   0|Event Planning & ...|   NV|Henderson|Event Planning & ...|             4.0|
|6mTyO-mDDsPrekjUy...|tL2pS5UOmN6aAOi3Z...|yvqcZrHixuf_oIUW8...|        1|Stopped here for ...|     1|    0|   0| Restaurants;Mexican|   NV|Las Vegas| Restaurants;Mexican|             1.0|
|hsbY0RZ2gFZiSpLtN...|Y76nS3L426UCz7N_1...|XXW_OFaYQkkGOGniu...|        4|I've been here tw...|     0|    0|   0|Bars;American (Tr...|   NV|Las Vegas|Bars;American (Tr...|             4.0|
|ML1XfdKtVfFWk44_w...|Y76nS3L426UCz7N_1...|DESv2ys6SjBKA4SyD...|        4|I haven't had any...|     2|    0|   2|Italian;Restauran...|   NV|Las Vegas|Italian;Restauran...|             4.0|
|RmeFNIqWYW3umoYPd...|Y76nS3L426UCz7N_1...|tcfL9_Qe-12eX4rdm...|        5|I really enjoyed ...|     0|    0|   0|Asian Fusion;Nigh...|   NV|Henderson|Asian Fusion;Nigh...|             5.0|
|p8rFUdKSHEwQvvDY8...|Y76nS3L426UCz7N_1...|OFw59czUoeeosFMKf...|        4|Have been here a ...|     0|    0|   0|Nightlife;Breweri...|   NV|Las Vegas|Nightlife;Breweri...|             4.0|
|9uu-5i7CngMzADPV4...|3wB-JjsUjkvdNUDRn...|XXW_OFaYQkkGOGniu...|        4|This is an intere...|     8|    4|   6|Bars;American (Tr...|   NV|Las Vegas|Bars;American (Tr...|             4.0|
|GFL29OZ8jXHSu58r-...|3wB-JjsUjkvdNUDRn...|G4X5w5vRQNEFUmrJo...|        2|The experience st...|     2|    0|   0|Nightlife;Dance C...|   AZ| Glendale|Nightlife;Dance C...|             2.0|
|LmAnA2BLcJkW7lTjV...|3wB-JjsUjkvdNUDRn...|JsCKeWHA8n_5mFQ3F...|        3|This is a decent ...|     1|    0|   1|Desserts;Mexican;...|   NV|Las Vegas|Desserts;Mexican;...|             3.0|
|bmAvkGmMPpScoF4OL...|chrORZZpea-iT1rbR...|7ddnq3YQSKguGK15e...|        5|Went last night f...|     0|    0|   0|American (Traditi...|   PA|  Wexford|American (Traditi...|             5.0|
|RC7dLK8ZVOXWFymHn...|dyhTHLIf6eWBvU78Y...|eN8mkjt_q686hGKi-...|        2|This place sucks....|    12|   16|   7|Restaurants;Greek...|   AZ|    Tempe|Restaurants;Greek...|             2.0|
+--------------------+--------------------+--------------------+---------+--------------------+------+-----+----+--------------------+-----+---------+--------------------+----------------+
only showing top 20 rows

************************

In [13]:


print("************ Popular Business Cities **************") #businesses getting lot of reviews
location = yelp_biz.select('business_id_biz','city')
review = yelp_rev.select('business_id_rev')
merge_city = location.join(review,review.business_id_rev == location.business_id_biz,'inner')
grouped_review_city = merge_city.groupby('city').count()
most_reviewed_city = grouped_review_city.groupby('city').sum()
most_reviewed_city.sort('sum(count)',ascending=False).show(10)
most_reviewed_city

print("************************\n")

************ Popular Business Cities **************

+----------+----------+
|      city|sum(count)|
+----------+----------+
| Las Vegas|   1604227|
|   Phoenix|    576700|
|   Toronto|    430985|
|Scottsdale|    308583|
| Charlotte|    237308|
|Pittsburgh|    179523|
| Henderson|    166868|
|     Tempe|    162782|
|      Mesa|    130886|
| MontrÃ©al|    122613|
+----------+----------+
only showing top 10 rows

************************

In [14]:
print("************ Top Businesses with detailed Reviews **************") 
location = yelp_biz.select('business_id_biz','categories')
review = yelp_rev.select('business_id_rev','text')
merge_city = location.join(review,review.business_id_rev == location.business_id_biz,'inner')
len_rev = merge_city.select(explode(split('categories', ',')).alias('category'),'text') # merge_city.explode(split('categories', ',')).alias('category')
len_rev = len_rev.withColumn("rev_length",length(col("text")))
avg = len_rev.groupBy("category").avg("rev_length")
avg.sort('avg(rev_length)',ascending=False).show(10)

print("************************\n")

************ Top Businesses with detailed Reviews **************

+--------------------+------------------+
|            category|   avg(rev_length)|
+--------------------+------------------+
|Bridal;Jewelry;Sh...|            4231.0|
|Real Estate;Unive...|3394.3333333333335|
|Hotels & Travel;H...|3360.3333333333335|
|Educational Servi...|            3357.0|
|Beauty & Spas;Nai...|            3084.5|
|Restaurants;Event...|3019.3333333333335|
|Party Equipment R...|2934.3333333333335|
|Shopping;Local Se...|2923.6666666666665|
|Automotive;Real E...|           2906.75|
|Retirement Homes;...|2886.3333333333335|
+--------------------+------------------+
only showing top 10 rows

************************

In [15]:
print("************ Businesses with less detailed Reviews **************") 

location = yelp_biz.select('business_id_biz','categories')
review = yelp_rev.select('business_id_rev','text')
merge_city = location.join(review,review.business_id_rev == location.business_id_biz,'inner')
len_rev = merge_city.select(explode(split('categories', ',')).alias('category'),'text') # merge_city.explode(split('categories', ',')).alias('category')
len_rev = len_rev.withColumn("rev_length",length(col("text")))
avg = len_rev.groupBy("category").avg("rev_length")
avg.sort('avg(rev_length)',ascending=True).show(10)

print("************************\n")

************ Businesses with less detailed Reviews **************

+--------------------+------------------+
|            category|   avg(rev_length)|
+--------------------+------------------+
|Food Delivery Ser...|49.333333333333336|
|Local Services;Pe...| 85.66666666666667|
|Fire Departments;...| 86.66666666666667|
|Venues & Event Sp...| 87.66666666666667|
|Active Life;Marti...| 88.33333333333333|
|Grocery;Food;Shop...|              90.0|
|Auto Insurance;Ho...|              93.0|
|Chicken Shop;Rest...|              96.0|
|Active Life;Sport...| 97.33333333333333|
|Laundry Services;...|             101.0|
+--------------------+------------------+
only showing top 10 rows

************************

In [16]:
print("************ 10 highly rated Restraunts **************")

review_star_three = fin1.filter('stars_rev_double >3')
grouped_review = review_star_three.groupby('business_id_rev').count()
review_sort = grouped_review.sort('count',ascending=False)
review_sort.show()
print("************************\n")

************ 10 highly rated Restraunts **************

+--------------------+-----+
|     business_id_rev|count|
+--------------------+-----+
|XXW_OFaYQkkGOGniu...| 2012|
|A-uZAD4zP3rRxb44W...| 1201|
|z6-reuC5BYf_Rth9g...|  957|
|VsewHMsfj1Mgsl2i_...|  868|
|6tSvz_21BMo3a4GaI...|  809|
|DbEszO3wk1xVmN3pC...|  718|
|Os1n1_idfw9vv9kwU...|  663|
|0_aeYE2-VbsZts_Up...|  645|
|DESv2ys6SjBKA4SyD...|  592|
|1ZnVfS-qP19upP_fw...|  576|
|-Ht7HiGBox8lS1Y8I...|  571|
|iA8Ve2sZKN5Vz3mYK...|  546|
|3Gt3xskppi9jZuTrw...|  544|
|e41TP5cXZqSrz50xC...|  534|
|FNe5PPA9pyj8FjcDe...|  533|
|-WLrZPzjKfrftLWaC...|  515|
|XC06xxb7FFYsXcI2E...|  487|
|pik4ebdFa0UcUhnNk...|  463|
|-av1lZI1JDY_RZN2e...|  449|
|wKA2y-F_fPcBDOkpz...|  444|
+--------------------+-----+
only showing top 20 rows

************************

In [17]:
print("************ Restaurant Distribution **************")

from pyspark.sql.functions import split,explode
category = fin1.select('categories')
restaurant_cat = category.select(explode(split('categories', ',')).alias('category'))
group_category = restaurant_cat.groupby('category').count()
top_category = group_category.sort('count',ascending=False)
top_category.show(10,truncate=False)
print("************************\n")

************ Restaurant Distribution **************

+----------------------------------------------------------------------------+-----+
|category                                                                    |count|
+----------------------------------------------------------------------------+-----+
|Chinese;Restaurants                                                         |5478 |
|Restaurants;Mexican                                                         |5240 |
|Restaurants;Chinese                                                         |4760 |
|Mexican;Restaurants                                                         |4521 |
|Restaurants;Thai                                                            |3816 |
|Bars;American (Traditional);Lounges;Nightlife;Breakfast & Brunch;Restaurants|2700 |
|Thai;Restaurants                                                            |2427 |
|Italian;Restaurants                                                         |2330 |
|Restaurants;Vietnamese                                                      |1874 |
|Vietnamese;Restaurants                                                      |1756 |
+----------------------------------------------------------------------------+-----+
only showing top 10 rows

************************